// Variables
$primary: #F9D95B;
$secondary: #3F82B1;
$black: #333333;
$white: #fff;
$lifestyle: #5F9A51;
$food: #D76B5C;
$travel: #3F82B1;
$food-muted: #E9AEA6;
$primary-muted: #FEFBEE;
$secondary-muted: #EBF2F7;

// Typography
$headings-font-family: 'Varela Round', sans-serif;
$font-family-base: 'Lora', serif;


// Header