// Variables
$primary: #F9D95B;
$secondary: #3F82B1;
$black: #333333;
$white: #fff;
$lifestyle: #5F9A51;
$food: #D76B5C;
$travel: #3F82B1;
$food-muted: #E9AEA6;
$primary-muted: #FEFBEE;
$secondary-muted: #EBF2F7;

// Breakpoints
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//Navbar
$navbar-light-color: $black;
$navbar-light-hover-color: rgba($secondary, .7);
$navbar-light-active-color: $secondary;
$navbar-light-toggler-border-color: transparent;

// Typography
$headings-font-family: 'Varela Round', sans-serif;
$font-family-base: 'Lora', serif;
$link-color: $secondary;
$font-size-base: 1rem;
$font-size-lg: 1.2rem;

// Inputs
$input-btn-focus-color: $secondary-muted;
$input-focus-border-color: $secondary;
$input-border-width: 2px;
$input-btn-border-width: 2px;

// Buttons
$btn-padding-y: 10px;
$btn-padding-x: 30px;
$btn-padding-x-sm: 20px;
$btn-font-size: 20px;
$btn-font-family: 'Varela Round', sans-serif;
$btn-border-width: 3px;
